body{
    background-color: rgb(230, 206, 176);
}
.cabecera{
    background-color: rgb(216, 162, 62);
    text-align: center;
    border: solid 2px ;
    border-color: rgb(192, 77, 31);
    border-radius: 15px;
}
.titulo{
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    padding: 10px;
}
.menubotonera{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:antiquewhite ;
    border-end-end-radius: 15px ;
    border-end-start-radius: 15px;
}
.enlacemenu{
    font-size: medium;
    margin: 10px;
    padding: 10px;
    
}

.enlaceboton{
    color: blueviolet;
}
.piedepagina{
    background-color: rgb(68, 34, 21);
    text-align: center;
    padding: 30px;
    border: solid 2px ;
    border-color: rgb(68, 34, 21); 
    color: #ffffff;
}
.titulopagina{
    text-align: left;
    color:rgb(68, 34, 21);
    background-color: antiquewhite;
}
.textopresenta{
    text-align: center;
    color: black;
    font-size: 20px;

}
.imgbox{
    width: 30%;
    height: 30%;
}
.boxpresenaciones{
    width: 70%;
}
.boxpatri{
    background-color: rgb(210, 238, 54);
    display: flex;
    margin: 30px;
    border: 3px, solid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    padding: 10px;
}
.boxbety{
    background-color: rgb(214, 133, 207);
    display: flex;
    margin: 30px;
    border: 3px, solid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    padding: 10px;
}
.parrafobox{
    margin: 30px;
}